@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
	<div class="bg-main">
		<div class="container_12">
			<div>
				<div class="grid_12">
					<!-- header -->
					<header>
						<h1><a href="http://static.livedemo00.template-help.com/wt_39870/index.html">Startex</a></h1>
						<div class="logo-text">business coach company</div>
					</header><!-- end header -->
				</div>
				<div class="clear"></div>
			</div>
		</div>
		
		<div class="flexslider">
			<ul class="slides">
				<li style="width: 100%; float: left; margin-right: -100%; display: list-item;">
					<img src="@Url.Content("~/Content/images/slide-2.jpg")" alt="">
					<div class="flex-caption">
						<div class="slide-text-1">A new start </div>
						<div class="slide-text-2">for your business</div>
						<p class="slide-p">Ses praesentiumvoluptatum delenitimos atqcor rupti quos dolores et quas molestias exceuri occaecati cupiditate non prdent imilique.</p>
						<a class="slide-button" href="#">more</a>
					</div>
				</li>
			</ul>
		<ul class="flex-direction-nav"><li><a class="prev" href="#">Previous</a></li><li><a class="next" href="#">Next</a></li></ul></div>
						
		<!-- content -->
		<section id="content">
			<div class="container_12">
				<div class="grid_12">
					<a class="slogan" href="http://static.livedemo00.template-help.com/wt_39870/#"><img src="@Url.Content("~/Content/images/slogan.png")" alt="" style="opacity: 1;"></a>
					<div class="indent-bot-7">
						<div class="grid_8 alpha rt-ident-bottom-1">
							<div class="rt-block-ident-1 rt-block-ident-x">
								<h2 class="indent-bot-2">Increase Your Business Potential</h2>
								<img class="indent-bot-3" src="@Url.Content("~/Content/images/page-1-img-1.jpg")" alt="">
								<p class="indent-bot-1"><strong>Lorem ipsum eos et accusamu dolore massa fugharum quidemed rerum facilis iusto ssimos ducimus qui blanditiistes.</strong></p>
								<p class="indent-bot-1">Ses praesentiumvoluptatum delenitimos atqcorrupti quos dolores et quas molestias exceuri occaecati cupiditate non prdent imilique sunt in culpaqui officia mos deserunt mollitia animid est laborum et dolorum fugharum quidemed. Rerum facilis est et expe dita distinc. Nam libero temporecum soluta nobis est eligendi optio cumquenihil. </p>
								<a class="button" href="http://static.livedemo00.template-help.com/wt_39870/#">More</a>
							</div>
						</div>
						<div class="grid_4 omega">
							<div class="rt-block-ident-x">
								<div class="indent-bot-5">
									<h2 class="indent-bot-4">Free Business Tools</h2>
									<ul class="list-1 indent-bot-2">
										<li><a href="http://static.livedemo00.template-help.com/wt_39870/#">Business worth and valuation calculator </a></li>
										<li><a href="http://static.livedemo00.template-help.com/wt_39870/#">List of mini MBA topics </a></li>
										<li><a href="http://static.livedemo00.template-help.com/wt_39870/#">Business Plan Methodology</a></li>
										<li><a href="http://static.livedemo00.template-help.com/wt_39870/#">Employee guidelines </a></li>
										<li><a href="http://static.livedemo00.template-help.com/wt_39870/#">How to increase sales </a></li>
										<li><a href="http://static.livedemo00.template-help.com/wt_39870/#">Sample customer satisfaction survey</a></li>
										<li><a href="http://static.livedemo00.template-help.com/wt_39870/#">action videos </a></li>
									</ul>
									<a class="button" href="http://static.livedemo00.template-help.com/wt_39870/#">More</a>
								</div>
								<div>
									<h2 class="indent-bot-6">Our Clients</h2>
									<div class="clients">
										<a href="http://static.livedemo00.template-help.com/wt_39870/#"><img src="@Url.Content("~/Content/images/banner-1.jpg")" alt=""></a>
										<a href="http://static.livedemo00.template-help.com/wt_39870/#"><img src="@Url.Content("~/Content/images/banner-2.jpg")" alt=""></a>
									</div>
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
						
					<div>
						<div class="grid_3 alpha rt-ident-bottom-1">
							<div class="border-top rt-block-ident-x">
								<h3>Latest Tweets </h3>
								<div class="tweet"><ul class="tweet_list"><li class="tweet_first tweet_odd"><span class="tweet_time"><a href="http://twitter.com/templatehelpcom/status/323800395073851393" title="view tweet on twitter">about 3 hours ago</a></span> <span class="tweet_join">we were checking out</span> <span class="tweet_text">How do I pay with <a href="http://moneybookers.com/">Moneybookers.com</a>? <a href="http://info.template-help.com/help/how-pay-with-moneybookers-com.html">info.template-help.com/help/how-pay-w…</a></span></li><li class="tweet_even"><span class="tweet_time"><a href="http://twitter.com/templatehelpcom/status/323800258071109634" title="view tweet on twitter">about 3 hours ago</a></span> <span class="tweet_join">we were checking out</span> <span class="tweet_text">How to add/change a favicon in HTML-based template <a href="http://info.template-help.com/help/how-to-addchange-a-favicon-in-html-based-template.html">info.template-help.com/help/how-to-ad…</a></span></li></ul></div>
							</div>
						</div>
						<div class="grid_3 rt-ident-bottom-1">
							<div class="border-top rt-block-ident-x">
								<h3 class="indent-bot-8">Company</h3>
								<ul class="list-2">
									<li><a href="http://static.livedemo00.template-help.com/wt_39870/#">At vero eos et accusamus et    </a></li>
									<li><a href="http://static.livedemo00.template-help.com/wt_39870/#">Astom odgnissimos ducimus</a></li>
									<li><a href="http://static.livedemo00.template-help.com/wt_39870/#">Raesentium dolore mode</a></li>
									<li><a href="http://static.livedemo00.template-help.com/wt_39870/#">Eluptatm deleniti atque modele</a></li>
									<li><a href="http://static.livedemo00.template-help.com/wt_39870/#">Atias excepturi sintol occaecati</a></li>
									<li><a href="http://static.livedemo00.template-help.com/wt_39870/#">Cupiditate non providensim</a></li>
									<li><a href="http://static.livedemo00.template-help.com/wt_39870/#">Sunt in culpa qui dolore sed </a></li>
								</ul>
							</div>
						</div>
						<div class="grid_3 rt-ident-bottom-1">
							<div class="border-top rt-block-ident-x">
								<h3 class="indent-bot-8">Categories</h3>
								<ul class="list-2">
									<li><a href="http://static.livedemo00.template-help.com/wt_39870/#">At vero eos et accusamus et</a></li>
									<li><a href="http://static.livedemo00.template-help.com/wt_39870/#">Astom odgnissimos ducimus</a></li>
									<li><a href="http://static.livedemo00.template-help.com/wt_39870/#">Raesentium dolore mode</a></li>
									<li><a href="http://static.livedemo00.template-help.com/wt_39870/#">Eluptatm deleniti atque modele</a></li>
									<li><a href="http://static.livedemo00.template-help.com/wt_39870/#">Atias excepturi sintol occaecati</a></li>
									<li><a href="http://static.livedemo00.template-help.com/wt_39870/#">Cupiditate non providensim</a></li>
								</ul>
							</div>
						</div>
						<div class="grid_3 omega">
							<div class="border-top rt-block-ident-x">
								<h3 class="indent-bot-8">capabilities</h3>
								<ul class="list-2">
									<li><a href="http://static.livedemo00.template-help.com/wt_39870/#">At vero eos et accusamus et    </a></li>
									<li><a href="http://static.livedemo00.template-help.com/wt_39870/#">Astom odgnissimos ducimus</a></li>
									<li><a href="http://static.livedemo00.template-help.com/wt_39870/#">Raesentium dolore mode</a></li>
									<li><a href="http://static.livedemo00.template-help.com/wt_39870/#">Eluptatm deleniti atque modele</a></li>
									<li><a href="http://static.livedemo00.template-help.com/wt_39870/#">Atias excepturi sintol occaecati</a></li>
									<li><a href="http://static.livedemo00.template-help.com/wt_39870/#">Cupiditate non providensim</a></li>
									<li><a href="http://static.livedemo00.template-help.com/wt_39870/#">Sunt in culpa qui dolore sed </a></li>
								</ul>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</section><!-- end content -->
	</div>
		
	<!-- footer -->
	<footer>
		<div class="container_12">
			<div class="grid_12">
				<div class="rt-block-ident-x">
					<ul class="list-soc">
						<li><a href="http://static.livedemo00.template-help.com/wt_39870/#"><img src="@Url.Content("~/Content/images/soc-icon-1.jpg")" alt=""></a></li>
						<li><a href="http://static.livedemo00.template-help.com/wt_39870/#"><img src="@Url.Content("~/Content/images/soc-icon-2.jpg")" alt=""></a></li>
						<li><a href="http://static.livedemo00.template-help.com/wt_39870/#"><img src="@Url.Content("~/Content/images/soc-icon-3.jpg")" alt=""></a></li>
						<li><a href="http://static.livedemo00.template-help.com/wt_39870/#"><img src="@Url.Content("~/Content/images/soc-icon-4.jpg")" alt=""></a></li>
					</ul>
					<div class="policy"><img src="@Url.Content("~/Content/images/footer-logo.png")" alt=""> <span class="copy-indent">© 2012 | <a href="http://static.livedemo00.template-help.com/wt_39870/index-6.html">Privacy Policy</a></span> <div><!--{%FOOTER_LINK} --></div></div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</footer><!-- end footer -->
</div>
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-7078796-5']);
	_gaq.push(['_trackPageview']);

	(function () {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>

<a href="http://static.livedemo00.template-help.com/wt_39870/#" id="toTop" style="margin-right: -593px; right: 50%; display: none;">
    <span id="toTopHover"></span>
</a>